
.coverImage {
  width: 100%;
  max-height: 500px;
  padding-bottom: 10px;
}

.profilePic {
  height: 300px;
  width: 300px;
  box-shadow: none;
  border: 1px solid yellow;
  position: relative;
  border-radius: 50%;
  margin-top: 0;
  top: -320px;
  left: 10px;
  box-shadow: 0px 0px 5px 6px #ccc;
}

.profilePicContainer {
  height: 0px;
}

.name {
  float: right;
  position: relative;
  top: -60px;
  right: 50px;
  font-size: 2em;
  font-weight: bold;
}


/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .coverImage {
      display: none;
    }
    .profilePic {
       width: 600px;
       height: 600px;
       top: 0px;
       /* margin: 10px; */
       padding: 10px;
       position: absolute;
       right: 0px;
       left: 0px;
       text-align: center;
       margin: auto;

       margin-top: 40px;
   }

   .name  {
    top: 700px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 4em;

    padding-bottom: 30px;
    border-bottom: 2px solid black;

  }

  .nameContainer {
    text-align: center;
  }

}

/*helper common*/
